<%- include('partials/header'); -%>

<div class="col-md-6     pb-md-5 pt-0    pr-lg-5  pl-lg-5 text-right ">
   <h2 class="h1-responsive font-weight-bold"> اضافة طلب تبرع </h2>
   <h2 dir="ltr"><%=_phoneNumber%></h2>
   <hr class="hr-light">
</div>

<div class="col-md-6    text-right">
   <form action="/addrequest" class="form  mr-md-0 mr-auto ml-auto pt-md-3" method="POST">

      <div class="input-group mb-3 ">
         <div class="input-group-prepend  w-100">
            <select dir="rtl" name="PatientState" class="custom-select custom-select-md  md-form colorful-select dropdown-primary ">
               <option value="S">مستقرة</option>
               <option value="D">حرجة</option>
            </select>
            <span class="input-group-text    form-icon"><i class="fas fa-heartbeat  mr-auto ml-auto"></i></span>
         </div>
      </div>
      <%- include("partials/wilaya") -%>
      <div class="input-group mb-3">
         <input type="text" dir="ltr" class="form-control  text-right" id="adress" name="adress" placeholder="حدد مكان تواجدك: المشفى,..." required autocomplete="off" onfocus="this.value=''" maxlength="30">
         <div class="input-group-prepend">
            <span class="input-group-text    form-icon"><i class="fas fa-map-marker-alt   mr-auto ml-auto"></i></span>
         </div>
      </div>

      <%- include("partials/captcha") -%>
      <button class="btn btn-danger btn-block" type="submit">اضافة</button>
   </form>
</div>

<!--  <div class=" label">سلامتك, كيف تصف حالتك؟</div> -->

<%- include("partials/footer") -%>