<%- include('partials/header'); -%>
<section class="main">
   <div class="container main-container">
      <div class="main-title ">
         <h5> اضافة طلب تبرع </h5>
         <h3> <%=_tel%> </h3>
      </div>
      <form action="/addrequest" method="POST" class="form-sign">

         <!--  <div class=" label">سلامتك, كيف تصف حالتك؟</div> -->
         <div class="select">
            <span class="fas fa-heartbeat   select-icon"></span>
            <select dir="rtl" name="PatientState" class="mdb-select  md-form colorful-select dropdown-primary ">
               <option value="S" autofocus>مستقرة</option>
               <option value="D">حرجة</option>
            </select>
         </div>

         <%- include("partials/wilaya") -%>
         <span>
            <span class="fas fa-map-marker-alt input-icon"></span>
            <input type="text" id="adress" class="form-control " placeholder="حدد مكان تواجدك: المشفى,..." required autocomplete="off" onfocus="this.value=''" maxlength="30">
         </span>
         <%- include("partials/captcha") -%>
         <button class="btn btn-danger btn-block" type="submit">اضف الطلب</button>
      </form>
   </div>
</section>
<%- include("partials/footer") -%>