<%- include('partials/header'); -%>
<main role="main">
   <div class="main-header">
      <h5 class="pt-3"> اضافة طلب تبرع </h5>
      <h3 class="pb-3" dir="ltr"><%=_tel%></h3>
   </div>

   <form class="form-sign mt-3">

      <div class="mb-2 label ">سلامتك, كيف تصف حالتك؟</div>
      <select dir="rtl" name="PatientState" class="mdb-select mb-2 md-form colorful-select dropdown-primary " style="border:none;">
         <option value="S" autofocus>مستقرة</option>
         <option value="D">حرجة</option>
      </select>
      <%- include("partials/wilaya") -%>
      <input type="tel" id="adress" class="form-control mb-2" placeholder="حدد مكان تواجدك: المشفى,..." required autocomplete="off" onfocus="this.value=''" maxlength="40">

      <%- include("partials/captcha") -%>
      <button class="btn btn-md btn-default btn-block" type="submit">اضف الطلب</button>
   </form>
</main>
<%- include("partials/captchajs") -%>
<%- include('partials/footer') -%>