<%-include("partials/header")-%>
<main role="main">
   <div class="main-header">
      <h5>معلومات المتبرع </h5>
      <h3><%=_tel%></h3>
   </div>
   <form class="form-sign">

      <div class="">
         <h5> هل انت مستعد حاليا للتبرع </H5>
         <label class="switch">
            <input type="checkbox" name="donorStat" checked>
            <span class="slider round"></span>
         </label>
      </div>

      <%- include("partials/wilaya") -%>
      <%- include("partials/captcha") -%>
      <button class="btn btn-md btn-default btn-block" type="submit">تعديل</button>

   </form>
</main>
<%- include("partials/captchajs") -%>
<%-include("partials/footer")-%>