<%-include("partials/header")-%>
<section class="main">
   <div class="container main-container">
      <div class="main-title">
         <h5>معلومات المتبرع </h5>
         <h3><%=_tel%></h3>
      </div>
      <form class="form-sign">

         <h5> هل انت مستعد حاليا للتبرع </H5>
         <div class="select"> <span class="fas fa-heartbeat  select-icon2"></span>
            <select dir="rtl" style=" position: relative;" name="donorState" class="mdb-select  md-form colorful-select dropdown-primary ">
               <option value="S" autofocus>نعم </option>
               <option value="D">لا</option>
            </select>
         </div>

         <%- include("partials/wilaya") -%>
         <%- include("partials/captcha") -%>
         <button class="btn btn-danger btn-block" type="submit">تعديل</button>

      </form>
   </div>
</section>
<%- include("partials/footer") -%>