<%-include("partials/header")-%>
<main role="main">
   <div class="main-header ">
      <h5 class="form-title pt-3"> معلومات المستخدم </h5>
      <h3 class="pb-3 " dir="ltr">
         <%=_tel%>
      </h3>
   </div>
   <form action="/userprofile" method="POST" class="form-sign mt-3">
      <div class="mb-2  label">اسجل كــ</div>
      <select dir="rtl" name="userType" class="mdb-select mb-2 md-form colorful-select dropdown-primary" style="border:none;">
         <option value="D" autofocus>متبرع</option>
         <option value="P">مريض</option>
      </select>
      <!--Blue select-->
      <div class="mb-2  label">زمرة الدم</div>
      <select dir="rtl" name="bloodType" class="mdb-select mb-2 md-form colorful-select dropdown-primary " style="border:none;">
         <option value="A">A+</option>
         <option value="A-">A-</option>
         <option value="B+">B+</option>
         <option value="B-">B-</option>
         <option value="AB+">AB+</option>
         <option value="AB-">AB-</option>
         <option value="O+">O+</option>
         <option value="O-">O-</option>
      </select>
      <!--/Blue select-->

      <%- include("partials/wilaya") -%>
      <!--       
      userType : D
      bloodType: A
      wilaya   : 01 
      -->
      <button class="btn btn-md btn-default btn-block" type="submit">تعديل</button>

   </form>
</main>

<%-include("partials/captchajs")-%>
<%-include("partials/footer")-%>